* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
}

nav {
    width: auto;
}

nav ul.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul.nav-menu li {
    width: 25%;
    padding: 10px 20px;
    display: block;
    margin: auto 20px;
}

nav ul.nav-menu li a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    background: linear-gradient( 90deg, #f44336, #cddc39, #03a9f4, #9c27b0);
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

nav ul.nav-menu li a:hover {
    color: transparent;
}

header h1 {
    margin-left: 25px;
    color: #000;
    text-shadow: 1px 1px 2px red;
}

section#home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 90vh;
}

section .sec1-content {
    max-width: 50%;
    transform: translateY(50%);
    align-self: flex-start;
    padding: 20px;
    text-align: center;
}

section .sec1-content h1 {
    font-size: 50px;
}

section .sec1-content h1 span {
    color: #000;
    text-shadow: 1px 1px 2px red;
    font-size: 75px;
    font-weight: bold;
}

section .sec1-content p {
    font-size: 30px;
}

section .img-container {
    height: 100%;
    width: 50%;
    perspective: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .img-container img[src="images/me.jpeg"] {
    border-radius: 50%;
    box-shadow: 0px 0px 20px #999;
    float: right;
    margin-right: 50px;
    transition: transform 3s linear;
}

section .img-container:hover img[src="images/me.jpeg"] {
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

#about {
    min-height: 100vh;
}

section#about h1 {
    font-size: 75px;
    color: #000;
    text-shadow: 1px 1px 2px red;
    text-align: center;
    transform: translateY(100px);
}

section#about .sec2-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(150px);
    font-size: 15px;
}

section#about .sec2-content p {
    font-size: 2em;
    width: 40%;
    padding: 20px;
    float: right;
    text-align: justify;
}

section#about .sec2-content img {
    transform: rotatez(20deg);
    border-radius: 20px;
    float: left;
    height: 200px;
}

section#skills {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#skills h1,
section#skills h2,
section#skills progress {
    transform: scale(2);
    margin: 20px auto;
    color: #03a9f4;
}

section#skills h2:first-of-type {
    margin-top: 30px;
}

section#skills h1 {
    color: #000;
    text-shadow: 1px 1px 2px red;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

footer h3 {
    float: left;
    color: transparent;
    background: linear-gradient( 90deg, #f44336, #cddc39, #03a9f4, #9c27b0);
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: bold;
    font-size: 25px;
    width: 150px;
}

footer ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer ul li {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

footer ul li a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
}

footer ul li a .bxl-facebook {
    color: #fff;
    background: #008bff;
    border-radius: 7px;
}

footer ul li a .bxl-whatsapp {
    background-color: #00ff00;
    color: #fff;
    border-radius: 7px;
}

footer ul li a .tele {
    border-radius: 7px;
    border: none;
    background: #fff;
    width: auto;
    height: auto;
}

footer ul li a .tele .bxl-telegram {
    color: #fff;
    background: #00b4ff;
    border-radius: 50%;
    padding: 3px;
    font-size: 25px !important;
    margin: 0 2px;
}

@media (max-width:620px) {
    .social-container h1 .axtra-h1 {
        display: none;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer h3 {
        display: none;
    }
    footer ul li {
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        margin: auto;
    }
    .nav-list ul li {
        width: 33%;
    }
}

footer ul li a .bxl-linkedin-square {
    background: #fff;
    padding: 0;
    border-radius: 7px;
    color: #03a9f4;
    font-size: 2.5rem;
}

@media screen and (max-width: 900px) {
    section#home {
        flex-direction: column;
    }
    section .sec1-content {
        max-width: 90%;
        transform: translateY(0);
        align-self: auto;
        padding: 20px;
        text-align: center;
    }
    section .img-container {
        height: auto;
        width: 100%;
    }
    section#about .sec2-content {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    section .sec1-content h1 {
        font-size: 30px;
    }
    section .sec1-content h1 span {
        color: #000;
        text-shadow: 1px 1px 2px red;
        font-size: 45px;
        font-weight: bold;
    }
    section .sec1-content p {
        font-size: 20px;
    }
    section .img-container img[src="images/me.jpeg"] {
        border-radius: 50%;
        box-shadow: 0px 0px 20px #999;
        float: none;
        margin-right: 0;
        transform: scale(0.8);
    }
    section .img-container:hover img[src="images/me.jpeg"] {
        transform-style: preserve-3d;
        transform: rotateY(180deg) scale(0.8);
    }
    section#about .sec2-content {
        font-size: 15px;
        flex-direction: column-reverse;
    }
    section#about .sec2-content p {
        width: 80%;
    }
}

@media screen and (max-width: 410px) {
    section .img-container img[src="images/me.jpeg"] {
        width: 80%;
    }
    section#about .sec2-content {
        font-size: 12px;
    }
    section#about h1 {
        font-size: 50px;
    }
    section#skills h1,
    section#skills h2,
    section#skills progress {
        transform: scale(1.5);
    }
    section#about .sec2-content img {
        width: 250px;
        height: auto;
    }
    section .sec1-content {
        text-align: center;
    }
}

@media screen and (max-width: 310px) {
    section#skills h1,
    section#skills h2,
    section#skills progress {
        transform: scale(1.3);
    }
    section#skills {
        transform: translateY(20px);
    }
    section#about .sec2-content img {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    nav ul.nav-menu li {
        display: none;
    }
    nav ul.nav-menu li.active {
        width: 25%;
        padding: 10px 20px;
        display: block;
        margin: auto 20px;
    }
    header {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 380px) {
    header h1 {
        display: none;
    }
    nav {
        width: 100%;
    }
    nav ul.nav-menu {
        justify-content: space-evenly;
    }
    nav ul.nav-menu li.active {
        width: 25%;
        padding: 10px 20px;
        display: block;
        margin: 0;
    }
}